* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
}
.container .gr-1 {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.container .gr-2 {
  position: absolute;
  z-index: -1;
}
.container .navbar {
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(226, 225, 225);
  backdrop-filter: blur(20px) !important;
  position: fixed;
}
.container .navbar h1 a {
  color: black;
}
.container .navbar .links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .navbar .links a {
  color: black;
  transition: 0.4s;
}
.container .navbar .links a:hover {
  color: purple;
}
.container .navbar .right-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.container .navbar .right-nav .darkmode {
  background-color: white;
  width: 65px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: center;
  border-radius: 30px;
  gap: 20px;
}
.container .navbar .right-nav .darkmode .sun {
  color: white;
  z-index: 1000;
}
.container .navbar .right-nav .darkmode .rol {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: rgb(70, 73, 255);
  position: absolute;
  left: 3px;
}
.container .navbar .right-nav .contact {
  display: flex;
  flex-direction: column;
}
.container .navbar .right-nav .contact .tel {
  color: black;
  font-size: 24px;
}
.container .navbar .right-nav .contact a {
  color: black;
}
.container .navbar .right-nav button {
  font-size: 17px;
  padding: 9px 10px;
  border-radius: 8px;
  border: none;
  background-color: #6911AD;
  transition: 0.4s;
  cursor: pointer;
}
.container .navbar .right-nav button a {
  color: white;
}
.container .navbar .right-nav button:hover {
  background-color: #4f028a;
}
.container .menu-header {
  display: flex;
  position: relative;
  align-items: center;
  top: 270px;
}
.container .menu-header .text {
  width: 40%;
  margin-left: 100px;
}
.container .menu-header .text h1 {
  font-size: 40px;
  line-height: 55px;
  padding: 0 0 20px 0;
  letter-spacing: 2px;
}
.container .menu-header .text p {
  width: 80%;
  padding: 0 0 160px 0;
}
.container .menu-header .text .mini-text {
  display: flex;
  align-items: center;
}
.container .menu-header .text .mini-text .color {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #6911AD;
}
.container .menu-header .text .mini-text a {
  margin-left: -47px;
  color: #6911AD;
  font-size: 25px;
}
.container .menu-header .text .mini-text a span {
  color: white;
}
.container .menu-header .img-bar {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  right: 200px;
  top: -90px;
  background-color: rgb(174, 174, 174);
}
.container .img3 {
  position: absolute;
  top: 640px;
}
.container .about-main {
  top: 600px;
  width: 100%;
  position: relative;
}
.container .about-main .about-company {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 90px;
}
.container .about-main .about-company .text {
  width: 50%;
}
.container .about-main .about-company .text h1 {
  font-weight: bolder;
  font-size: 44px;
  padding-bottom: 20px;
}
.container .about-main .about-company .text p {
  line-height: 25px;
  width: 95%;
}
.container .about-main .about-company .value {
  display: flex;
  gap: 80px;
}
.container .about-main .about-company .value h1 {
  padding: 30px 0;
  font-size: 40px;
  background: -webkit-linear-gradient(20deg, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container .about-main .about-company .value h1 span {
  font-size: 14px;
  font-weight: lighter;
}
.container .about-main .line {
  position: absolute;
  width: 100%;
  top: 500px;
}
.container .about-main .advent {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.container .about-main .advent .box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}
.container .about-main .advent .box .a-boxes {
  border: 2px solid rgb(147, 147, 147);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  gap: 13px;
  margin: 10px 0;
  padding: 25px 15px;
}
.container .about-main .advent .box .a-boxes img {
  width: 50px;
}
.container .about-main .advent .box .a-boxes .line {
  width: 60px;
  background-color: black;
  height: 2px;
}
.container .about-main .advent .box .a-boxes .line2 {
  width: 60px;
  background-color: black;
  height: 2px;
}/*# sourceMappingURL=style.css.map */